.meme--form{
    text-align: center;
}
.meme--input{
    width: 30em;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 3em;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
    padding-left: 12px;
    font-size: 1em;
    font-weight: 500;
}
.meme--input:focus{
    background-color: rgba(103,34,128,0.1);
}
.meme--button{
    background-color: rgb(103,34,128);
    color: white;
    padding-block: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 400;
    width: 44em;
}
.meme--button:hover{
    opacity: 0.75;
}